body {
    font-family: 'Lato', sans-serif;
    color: #424242;
}

/*
    colors
    green: #1abc9c
    red-pink: #e91d63
    gray: #f3f3f3
*/

.c-main-header {
    background-image: url(images/pills.jpg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: cover;

    height: 600px;

    position: relative;
}

.c-main-header h1 {
    background-color: #e91d63;
    color: white;
    padding: 70px 0;
    font-family: 'Oswald', sans-serif;
    font-size: 3.4em;
    font-weight: 300;
    text-align: center;
    margin: 150px 0 0 0;
}

.c-intro {
    margin-top: 60px;
    margin-bottom: 60px;
}

.copyright {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 5px 10px;
    font-size: 0.7em;
    background: white;
    opacity: 0.8;
    color: black;
}

.copyright a {
    color: black;
}

.c-intro p {
    font-size: 2em;
}

.c-gray {
    background-color: #f3f3f3;
}
